.container{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
/* HEADER */
header{
    max-width: inherit;
    width: inherit;
    padding: 49px 327px 44.43px 320px;
    background-color: #262626;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    /* border: 2px solid red; */
}
ul{
    color: #FFFFFF;
    font-size: 24px;
    display: flex;
    gap: 68px;
}
/* FIRST SECTION */
.section1{
    /* border: 4px solid blue; */
    width: 100%;
    height: 1080px;
    margin-top: 130px;
    position: relative;
}
.main_image{
    width: 100%;
    height: 100%;
}
.first_p{
    /* border: 2px solid red; */
    color: #FFFFFF;
    font-size: 82px;
    width: 1128px;
    padding: 242px 0 161px 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.second_p{
    /* border: 2px solid red; */
    color: #FFFFFF;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    width: 583px;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -56%);
    text-align: center; 
}
.search{
    width: 463px;
    height: 71px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -64%);
    /* border: 2px solid red; */
}
.search_plant{
    margin-left: 30px;
    color: #FFFFFF;
    font-size: 20px;
}
.search_logo{
    margin-right: 12px;
}
/* SECOND SECTION */
.section2{
    width: 70%;
    margin: 0 auto;
}
h1{
    font-size: 75px;
    padding-top: 245px;
}
.cards{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
figure{
    border: 2px solid #DCB47A;
    width: 390px;
    height: 388px;
    padding: 30px 41px 0 41px;
}
figcaption{
    font-size: 16px;
    padding-top: 54px;
}
.small_logo{
    padding-left: 179px;
}
.price{
    padding-top: 17px;
}
/* THIRD SECTION */
.section3{
    width: 70%;
    margin: 0 auto;
}
h2{
    font-size: 64px;
    font-weight: 600;
    color: #081323;
    padding: 245px 0 80px 0;
}
.for_images{
    /* border: 7px solid red; */
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
}
.for_images2{
    margin-top: 59px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 245px;
}
.p_for_images{
    font-size: 64px;
    font-weight: 600;
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 21%;
    transform: translate(-21%, -50%);
}
/* footer */
footer{
    background-color: #262626; 
    width: 100%;
    padding: 71px 0 76px 0;       
}
.footer_p{
    font-size: 63px;
    line-height: 82px;
    color: #FFFFFF;
    text-align: center;
}
span{
    color: #DCB47A;
}
h5{
    font-size: 21px;
    color: #FFFFFF;
    text-align: center;
    line-height: 27px;
}
.footer_button{
    background-color: #DCB47A;
    width: 205px;
    height: 64px;
    margin: 0 auto;
    margin-top: 36px;
    border-radius: 60px;  
}
.div_p{
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    padding-top: 21.46px;
}





